.dash-debug-menu__outer,
.dash-debug-menu {
  visibility: hidden !important;
}

nav {
  background-color: royalblue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 2px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: darkslateblue;
  color: #ddd;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: royalblue;
  color: white;
}

h2 {
  color: #dddddd;
  background-color: royalblue;
  padding: 6px;
  margin: 0px 0px;
  text-align: center;
}

hr {
  border: none;
  height: 2px;
  margin: 0px 0px;
  background-color: #333333;
}
